body {
	background-color: #ddd;
}

.wrapper {
	width: 600px;
	height: 600px;
	margin: 50px auto;
	box-sizing:content-box;
	overflow: hidden;
}

.blue {
	float:left;
	background-color: blue;
	width: 200px;
	height: 600px;
}

.aqua {
	float:left;
	background-color: aqua;
	width: 200px;
	height: 600px;
}

.yellow {
	float:left;
	background-color: yellow;
	width: 200px;
	height: 600px;
	z-index:0;
}

.red {
	float:right;
	background-color: red;
	width: 200px;
	height: 200px;
	position: relative;
	z-index: 50;
	bottom:200px;
	color: #fff;
	text-align:center;
	padding-top:90px;
}