body {
	background-color: #ddd;
}

.wrapper {
	width: 70%;
	border: solid 1px #000;
	margin: 20px auto;
	height: 600px;
}

.white-border {
	border: 1px solid #fff;
}

.top-bar {	
	height: 75px;
	width: 100%;
	background-color: #888;
}

.middle {
	width: 65%;
	background-color: #fff;
	height: 485px;
	margin:0 auto;
}

.bottom-bar {
	width: 65%;
	background-color: #000;
	height: 40px;	
	margin: 0 auto;
}